.*
*.pyc

/media
/static
*.db
*.*~
*.sqlite3
/enpasswork/Include
/enpasswork/Scripts

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# Byte-compiled / optimized / DLL files

