<html>
<body>

<p>
    Dear <strong>{{username}}</strong>,<br><br>

    We are processing your following Enpass order:<br><br>

    Order ID: {{order_id}}<br>
    Placed on: {{time}}<br>
    Licenses required: {{licenses}}<br>
    Preferred payment method: {{method}}<br><br>

    Please find the attached quotation and proceed with the payment.<br>
    As soon as your payment is processed, the ordered licenses will be credited to your account.<br><br>
    Thank-you,<br>
    Team Enpass

</p>
</body>
</html>